<menu-panel>
    <menu-panel-header>
        Payment QA Types
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </menu-panel-header>

    <menu-panel-section name="Priority 1">
        <menu-panel-item url="/quality-assurance/34359738368">
            Auto - DPA Unmatched Posting 90-Day No TM
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/268435456">
            Auto - Posted By Instruction
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/17179869184">
            Auto - TM Debit Values Do Not Match DPA
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/16">
            Credit Amount After Credit Entry
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/8">
            Debit Forced By Operator
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/1">
            Direct Payer Amount Over Threshold
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/2">
            Employer Amount Over Threshold
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/524288">
            High Risk Payment Source
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/4194304">
            Hold For Review
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/4">
            MICR-Payer Combination Seen First Time
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/67108864">
            MICR-Payer-Amount Combination Seen First Time
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/16777216">
            Multi Debit By Operator
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/536870912">
            QA High Risk Type Of - Cost Recovery Fee
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/16384">
            Random QA
            <badge>0</badge>
        </menu-panel-item>


        <menu-panel-item url="/quality-assurance/262144">
            Same User Created Credits and Debits
            <badge>0</badge>
        </menu-panel-item>
    </menu-panel-section>



    <menu-panel-section name="Priority 2">
        <menu-panel-item url="/quality-assurance/1073741824">
            Auto - Single MICR Transaction
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/32">
            Auto Processed - Multiple Debits
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/8192">
            Opertator Under Training
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/2097152">
            Payment Applied to Closed Case
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/8">
            Worker - Posted By Instruction
            <badge>0</badge>
        </menu-panel-item>
    </menu-panel-section>



    <menu-panel-section name="Priority 3">
        <menu-panel-item url="/quality-assurance/512">
            Auto - Single MICR and Amount - High Risk
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/1024">
            Auto - Single MICR and Amount - Low Risk
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/2048">
            Auto - Single MICR and PrimaryID - High Risk
            <badge>0</badge>
        </menu-panel-item>

        <menu-panel-item url="/quality-assurance/4096">
            Auto - Single MICR and PrimaryID - Low Risk
            <badge>0</badge>
        </menu-panel-item>
    </menu-panel-section>
</menu-panel>