<navbar>
    <img src="assets/smart_logo.png" style="width: 100px;">

    <menu>
        <!-- Dashboard -->
        <menu-item name="Dashboard">
            <dashboard-menu-panel />
        </menu-item>

        <!-- Data Entry -->
        <menu-item name="Data Entry">
            <data-entry-menu-panel />
        </menu-item>

        <!-- Research -->
        <menu-item name="Research">
            <research-menu-panel />
        </menu-item>

        <!-- Balancing -->
        <menu-item name="Balancing">
            <balancing-menu-panel />
        </menu-item>

        <!-- Quality Assurance -->
        <menu-item name="Quality Assurance">
            <quality-assurance-menu-panel />
        </menu-item>

        <!-- Correspondence -->
        <menu-item name="Correspondence">
            <correspondence-menu-panel />
        </menu-item>

        <!-- Administration -->
        <menu-item name="Administration">
            <administration-menu-panel />
        </menu-item>

        <!-- Search & Reports -->
        <menu-item name="Search & Reports">
            <administration-menu-panel />
        </menu-item>
    </menu>

</navbar>