<menu-panel>
    <menu-panel-header>
        Dashboard
    </menu-panel-header>

    <menu-panel-item url="/dashboard/workflow-status">
        Workflow Status
    </menu-panel-item>

    <menu-panel-item url="/dashboard/manage-workflow">
        Manage Workflow
    </menu-panel-item>


    <menu-panel-item url="/dashboard/audit-history">
        Audit History
    </menu-panel-item>


    <menu-panel-item url="/dashboard/micr-management">
        MICR Management
    </menu-panel-item>


    <menu-panel-item url="/dashboard/batch-details">
        Batch Details
    </menu-panel-item>
</menu-panel>