<menu-panel>
    <menu-panel-header>
        Data Entry Queues
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </menu-panel-header>

    <menu-panel-item url="/dataentry/micr-profile">
        MICR Profile
        <badge>0</badge>
    </menu-panel-item>

    <menu-panel-item url="/dataentry/credit-entry">
        Credit Entry
        <badge>0</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/credit-details">
        Credit Details
        <badge>0</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/debit-entry">
        Debit Entry
        <badge>0</badge>
    </menu-panel-item>
</menu-panel>