<menu-panel>
    <menu-panel-header>
        Data Entry Queues
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </menu-panel-header>

    <menu-panel-item url="/dataentry/micr-profile">
        MICR Profile
        <badge>418</badge>
    </menu-panel-item>

    <menu-panel-item url="/dataentry/credit-signature">
        Credit Signature
        <badge>0</badge>
    </menu-panel-item>

    <menu-panel-item url="/dataentry/credit-entry">
        Credit Entry
        <badge>31</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/credit-checknumber">
        Credit Check Number
        <badge>0</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/credit-checkdate">
        Credit Check Date
        <badge>4</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/credit-payeename">
        Credit Payee Name
        <badge>9</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/credit-details">
        Credit Details
        <badge>3</badge>
    </menu-panel-item>


    <menu-panel-item url="/dataentry/debit-entry">
        Debit Entry
        <badge>28</badge>
    </menu-panel-item>
</menu-panel>