:host {
    display: block;
}

.menu-panel-section {
    padding: 0 15px;
    padding-bottom: 8px;
}

.heading {
    text-decoration: underline;
    color: var(--menu-panel-item-text-color);
    padding-bottom: 8px;
}