<menu-panel>
    <menu-panel-header>
        Search & Reports
    </menu-panel-header>

    <menu-panel-item url="/search-reports/image-viewer">
        Image Viewer
    </menu-panel-item>

    <menu-panel-item url="/search-reports/intercepts">
        Intercepts
    </menu-panel-item>


    <menu-panel-item url="/search-reports/reports">
        Reports
    </menu-panel-item>


    <menu-panel-item url="/search-reports/manual-identification">
        Manual Identification
    </menu-panel-item>
</menu-panel>