<menu-panel>
    <menu-panel-header>
        Research
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </menu-panel-header>

    <menu-panel-item url="/research/EXO">
        Exceptions
        <badge>418</badge>
    </menu-panel-item>

    <menu-panel-item url="/research/RSO">
        Return/Rescan
        <badge>0</badge>
    </menu-panel-item>

    <menu-panel-item url="/research/UDO">
        Unidentified Pending
        <badge>31</badge>
    </menu-panel-item>


    <menu-panel-item url="/research/UDE">
        Unidentified Pending - ePay
        <badge>3391</badge>
    </menu-panel-item>


    <menu-panel-item url="/research/RSC">
        Research
        <badge>4</badge>
    </menu-panel-item>


    <menu-panel-item url="/research/OOB">
        Out of Balance
        <badge>9</badge>
    </menu-panel-item>


    <menu-panel-item url="/research/OBE">
        Out of Balance - ePay
        <badge>3</badge>
    </menu-panel-item>

</menu-panel>